*{

    font-family: 'Arial' sans-serif;
box-sizing: border-box;

}
body{
    background-color: #001e4d;
}
.container{
   background-color:#fff ; 
   width:90%;
   max-width :600px;
   margin:100px auto 0;
   border-radius: 10px;
   padding: 30px; 
  
}
.container h1{
    font-weight: 2rem;
    color: #001e4d;
    font-weight: 650;
    border-bottom: 1px solid #333;
    padding-bottom: 25px;
}
.main{
    padding: 20px 0;
}
.main h2{
    font-size: 1.5rem;
    color: #0014ed;
    font-weight: 650;
    text-align: center;
}

.btn{
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
border: 1px solid#444;
padding: 10px;
margin: 10px 0;
text-align: center;
border-radius: 5px;
cursor:pointer;
transition: all 0.5s;

}
.btn:hover{
    background-color:rgb(100, 40, 116);
    color: #fff;
}
#next{
    background-color: #000080;
    color: #fff;
    font-weight: 600;
    width:155px;
    border: 0;
    padding: 12px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor:pointer;
    display: none;


}
.correct{
background-color: blueviolet;

}
  
.incorrect{
    background-color: red;
}
